@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Documentation Viewer</h1>
    <p class="lead">Shows documentation in an easily readable way</p>
    <p>@Html.ActionLink("Get started", "Index", "Documentation")</p>
</div>